div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  img{
      width: 12vw;
      margin-left: 2px;
      
  }
  .search input{
      width: 50vw;
      margin-left: 6000vm;
  }
 